<template>
    <form @submit.prevent="submit">
        <v-text-field :error-messages="errors.collect('draft.name')"
                      autofocus
                      data-vv-name="draft.name"
                      label="Nombre"
                      type="text"
                      v-model="draft.name"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.last_name')"
                      data-vv-name="draft.last_name"
                      label="Apellidos"
                      type="text"
                      v-model="draft.last_name"
                      v-validate="'required'"
        ></v-text-field>
        <v-container class="pa-0">
            <v-row>
                <v-col class="py-0" cols="8">
                    <v-menu
                        :close-on-content-click="false"
                        :nudge-right="40"
                        min-width="290px"
                        offset-y
                        transition="scale-transition"
                        v-model="openFechaNacimiento"
                    >
                        <template v-slot:activator="{ on }">
                            <v-text-field
                                :error-messages="errors.collect('draft.fecha_nacimiento')"
                                data-vv-name="draft.fecha_nacimiento"
                                label="Fecha nacimiento"
                                prepend-inner-icon="mdi-calendar"
                                readonly
                                v-model="draft.fecha_nacimiento"
                                v-on="on"
                                v-validate="'required'"
                            ></v-text-field>
                        </template>
                        <v-date-picker
                            @click:date="clickDate"
                            @input="openFechaNacimiento = false"
                            locale="es-419"
                            v-model="draft.fecha_nacimiento"
                        ></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col class="py-0" cols="4">
                    <v-text-field class=""
                                  label="Edad"
                                  readonly
                                  reverse
                                  type="text"
                                  v-model="edad"
                    ></v-text-field>
                </v-col>
            </v-row>
        </v-container>
        <v-radio-group :error-messages="errors.collect('draft.sexo')"
                       data-vv-name="draft.sexo"
                       ref="RadioGroup"
                       row
                       v-model="draft.sexo"
                       v-validate="'required'">
            <v-radio label="Masculino" ref="radio1" value="M"></v-radio>
            <v-radio label="Femenino" ref="radio2" value="F"></v-radio>
        </v-radio-group>
        <v-text-field :error-messages="errors.collect('draft.email')"
                      data-vv-name="draft.email"
                      label="Correo"
                      type="email"
                      v-model="draft.email"
                      v-validate="'required|email'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.phone')"
                      data-vv-name="draft.phone"
                      label="Teléfono"
                      ref="txt"
                      type="number"
                      v-model="draft.phone"
        ></v-text-field>
        <v-select
            :error-messages="errors.collect('draft.estado_civil')"
            :items="estadosCiviles"
            data-vv-name="draft.estado_civil"
            label="Estado civil"
            v-model="draft.estado_civil"
        ></v-select>
        <v-combobox :error-messages="errors.collect('draft.escolaridad')"
                    :items="escolaridades"
                    :return-object="false"
                    class="mb-4"
                    data-vv-name="draft.escolaridad"
                    hint="Para ingresar un nuevo elemento en la lista, agréguelo y presione enter"
                    label="Escolaridad"
                    persistent-hint
                    v-model="draft.escolaridad"
        ></v-combobox>
        <v-text-field :error-messages="errors.collect('draft.ocupacion')"
                      data-vv-name="draft.ocupacion"
                      label="Ocupación"
                      type="text"
                      v-model="draft.ocupacion"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.lugar_origen')"
                      data-vv-name="draft.lugar_origen"
                      label="Lugar de nacimiento"
                      type="text"
                      v-model="draft.lugar_origen"
        ></v-text-field>
        <domicilio-form :populate-with="domicilioDefault"></domicilio-form>
        <div class="d-flex">
            <v-spacer></v-spacer>
            <v-btn :to="{name: 'pacientes-index'}" color="" v-if="!callIsFromExp">Regresar</v-btn>
            <v-btn @click="submit" class="ml-2" color="primary">Guardar</v-btn>
        </div>
    </form>
</template>

<script>
    import {mapState} from 'vuex'
    import EventBus from '../../event-bus'
    import DomicilioForm from '../DomicilioForm'

    export default {
        name: 'PacienteForm',
        components: {DomicilioForm},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            },
            callIsFromExp: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                draft: {
                    name: null,
                    last_name: null,
                    email: null,
                    phone: null,
                    user_id: null,
                    fecha_nacimiento: null,
                    sexo: null,
                    estado_civil: null,
                    escolaridad: null,
                    lugar_origen: null,
                    ocupacion: null,
                    domicilio: {empty: true}
                },
                openFechaNacimiento: false,
                estadosCiviles: [
                    'Soltero',
                    'Casado',
                    'Divorciado',
                    'Unión libre',
                    'Viudo'
                ],
                domicilioDefault: {empty: true}
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = clone(this.populateWith)
                this.domicilioDefault = clone(this.draft.domicilio)
            }

            EventBus.$on('UPDATE_DOMICILIO_DRAFT', (domicilioDraft) => {
                this.draft.domicilio = domicilioDraft
            })
        },
        methods: {
            async submit() {
                let isValid = await this.$validator.validateAll()

                if (isValid) {
                    this.$emit('submit', this.draft)
                }
            },
            clickDate() {
                this.$refs.radio1.$el.children[0].children[1].focus()
            }
        },
        computed: {
            edad() {
                return moment().diff(this.draft.fecha_nacimiento, 'years') || 0;
            },
            ...mapState({
                escolaridades: state => state.catalogos.escolaridades
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
