<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="8" offset-md="2" offset-sm="1" sm="10">
                <v-card :loading="saving">
                    <v-card-title>
                        Nuevo paciente
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <paciente-form @submit="submit"></paciente-form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import PacienteService from '../../services/PacienteService'
    import PacienteForm from '../../components/pacientes/PacienteForm'

    export default {
        name: 'Create',
        components: {PacienteForm},
        props: {},
        data() {
            return {
                saving: false,
            }
        },
        methods: {
            async submit(draft) {
                try {
                    this.saving = true
                    let result = await PacienteService.storePaciente(draft)
                    showSuccessMsg()
                    await this.$router.push({name: 'pacientes-profile', params: {id: result.data.paciente.expediente.id}})
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.saving = false
                }

            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
