<template>
    <v-container fluid>
        <v-row>
            <v-col>
                <v-card outlined>
                    <v-card-title class="align-baseline">
                        <span class="headline">Pacientes</span>
                        <v-divider class="mx-2" vertical></v-divider>
                        <v-text-field append-icon="mdi-magnify"
                                      clearable
                                      hide-details
                                      label="Buscar"
                                      type="text"
                                      v-model="search"
                        ></v-text-field>
                        <v-spacer></v-spacer>
                        <v-btn :to="{name: 'pacientes-create'}"
                               color="primary"
                        >
                            Nuevo
                        </v-btn>
                    </v-card-title>
                    <v-card-text>
                        <v-data-table :headers="headers"
                                      :items="items"
                                      :loading="fetchingPacientes"
                                      :search="search"
                        >
                            <template v-slot:item.actions="{item}">
                                <v-btn :to="{name: 'pacientes-profile', params: {id: item.expediente.id}}"
                                       color="primary"
                                       depressed
                                       fab
                                       x-small
                                >
                                    <v-icon>mdi-folder-account</v-icon>
                                </v-btn>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import PacienteService from '../../services/PacienteService'

    export default {
        name: 'PacientesIndex',
        components: {},
        props: {},
        data() {
            return {
                headers: [
                    {text: 'Expediente', value: 'folio', align: 'right'},
                    {text: 'Nombre', value: 'user.full_name'},
                    {text: 'Edad', value: 'edad', align: 'right'},
                    {text: 'Sexo', value: 'sexo'},
                    {text: 'Teléfono', value: 'user.phone'},
                    {text: 'Correo', value: 'user.email'},
                    {text: 'Acciones', value: 'actions', align: 'center', sortable: false},
                ],
                items: [],
                fetchingPacientes: false,
                search: null,
            }
        },
        created() {
            this.fetchPacientes()
        },
        methods: {
            async fetchPacientes() {
                try {
                    this.fetchingPacientes = true

                    let result = await PacienteService.getPacientes()

                    this.items = result.data.data
                } catch (e) {

                } finally {
                    this.fetchingPacientes = false
                }
            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
