<template>
    <v-container fluid>
        <v-row>
            <v-col cols="4">
                <v-skeleton-loader
                    :loading="fetchingExpediente"
                    style="width: 100%"
                    transition="expand-transition"
                    type="card"
                >
                    <div class="pb-3">
                        <paciente-card :paciente="expediente.paciente"></paciente-card>
                    </div>
                </v-skeleton-loader>
                <v-row no-gutters>
                    <v-col class="py-3">
                        <v-card>
                            <v-card-text>
                                <tipo-sangre-form/>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col class="py-3">
                        <v-card>
                            <v-card-text>
                                <servicio-medico-form/>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col class="py-3">
                        <higiene-card></higiene-card>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col class="py-3">
                        <alimentacion-card></alimentacion-card>
                    </v-col>
                </v-row>
                <v-row no-gutters>
                    <v-col class="py-3">
                        <v-scale-transition hide-on-leave>
                            <v-skeleton-loader
                                type="card"
                                v-if="fetchingExpediente"
                            >
                            </v-skeleton-loader>
                            <div v-else>
                                <contactos-emergencia-card></contactos-emergencia-card>
                            </div>
                        </v-scale-transition>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="5">
                <v-card>
                    <v-card-title>
                        Antecedentes patológicos
                    </v-card-title>
                    <v-divider></v-divider>

                    <v-card-text style="position: relative">
                        <antecedentes-pato-dialog></antecedentes-pato-dialog>
                    </v-card-text>

                    <v-card-text class="py-0">
                        <antecedentes-pato-list></antecedentes-pato-list>
                    </v-card-text>
                </v-card>

                <v-card class="my-6">
                    <v-card-title>
                        Antecedentes no patológicos
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text style="position: relative">
                        <antecedentes-no-pato-dialog></antecedentes-no-pato-dialog>
                    </v-card-text>

                    <v-card-text class="py-0">
                        <antecedentes-no-pato-list/>
                    </v-card-text>
                </v-card>

                <v-card class="my-6">
                    <v-card-title>
                        Antecedentes familiares
                    </v-card-title>
                    <v-divider></v-divider>

                    <v-card-text style="position: relative">
                        <antecedentes-fam-dialog></antecedentes-fam-dialog>
                    </v-card-text>

                    <v-card-text class="py-0">
                        <antecedentes-familiares-list/>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="3">
                <v-btn block class="mb-3" color="accent" disabled elevation="0">iniciar consulta</v-btn>
                <v-row no-gutters>
                    <v-col class="py-3" cols="12">
                        <signos-vitales-card></signos-vitales-card>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
        <v-btn :to="{name: 'pacientes-index'}"
               bottom
               color="accent"
               dark
               fab
               fixed
               right
        >
            <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
    </v-container>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import AlimentacionCard from '../../components/profile/AlimentacionCard'
    import HigieneCard from '../../components/profile/HigieneCard'
    import PacienteCard from '../../components/profile/PacienteCard'
    import SignosVitalesCard from '../../components/profile/SignosVitalesCard'
    import AntecedentesPatoDialog from '../../components/profile/AntecedentesPatoDialog'
    import AntecedentesNoPatoDialog from '../../components/profile/AntecedentesNoPatoDialog'
    import AntecedentesFamDialog from '../../components/profile/AntecedentesFamiliaresDialog'
    import AntecedentesPatoList from '../../components/profile/AntecedentesPatoList'
    import AntecedentesNoPatoList from '../../components/profile/AntecedentesNoPatoList'
    import AntecedentesFamiliaresList from '../../components/profile/AntecedentesFamiliaresList'
    import TipoSangreForm from '../../components/profile/TipoSangreForm'
    import ServicioMedicoForm from '../../components/profile/ServicioMedicoForm'
    import ContactosEmergenciaCard from '../../components/profile/ContactosEmergenciaCard'

    export default {
        name: 'Profile',
        components: {
            ContactosEmergenciaCard,
            ServicioMedicoForm,
            TipoSangreForm,
            AntecedentesFamiliaresList,
            AntecedentesNoPatoList,
            AntecedentesPatoList,
            AntecedentesFamDialog,
            AntecedentesNoPatoDialog,
            AntecedentesPatoDialog,
            AlimentacionCard,
            HigieneCard,
            PacienteCard,
            SignosVitalesCard,
        },
        props: {},
        data() {
            return {
                draft: [],
                toogle: false,
            }
        },
        async created() {
            this.$store.commit('expediente/FETCHING_EXPEDIENTE', true)
            try {
                await this['expediente/fetchExpediente'](this.$route.params.id)
            } catch (e) {
            } finally {
                this.$store.commit('expediente/FETCHING_EXPEDIENTE', false)
            }
        },
        methods: {
            ...mapActions([
                'expediente/fetchExpediente'
            ])
        },
        computed: {
            ...mapState({
                antecedentesPato: state => state.catalogos.antecedentesPato,
                antecedentesNoPato: state => state.catalogos.antecedentesNoPato,
                expediente: state => state.expediente.expediente,
                fetchingExpediente: state => state.expediente.fetchingExpediente,
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
