<template>
    <router-view/>
</template>

<script>
    export default {
        name: 'Home',
        components: {},
        props: {},
        data() {
            return {}
        },
        methods: {},
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
