<template>

</template>

<script>
    export default {
        name: 'NotFound',
        components: {},
        props: {},
        data() {
            return {}
        },
        methods: {},
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
