<template>
    <div>
        <v-text-field :error-messages="errors.collect('draft.codigo_postal_id')"
                      :loading="fetchingColonias"
                      @click:clear="resetGeo"
                      clearable
                      counter="5"
                      data-vv-name="draft.codigo_postal_id"
                      label="Código postal"
                      maxlength="5"
                      type="text"
                      v-model="draft.codigo_postal_id"
                      v-validate="'required|min:5'"
        ></v-text-field>
        <v-autocomplete :error-messages="errors.collect('draft.entidad_id')"
                        :items="entidades"
                        data-vv-name="draft.entidad_id"
                        item-text="descripcion"
                        item-value="entidad_id"
                        label="Estado"
                        v-model="draft.entidad_id"
                        v-validate="'required'"
        ></v-autocomplete>
        <v-autocomplete :error-messages="errors.collect('draft.municipio_id')"
                        :items="municipios"
                        :loading="fetchingMunicipios"
                        data-vv-name="draft.municipio_id"
                        item-text="descripcion"
                        item-value="municipio_id"
                        label="Municipio"
                        v-model="draft.municipio_id"
                        v-validate="'required'"
        ></v-autocomplete>
        <v-autocomplete :error-messages="errors.collect('draft.localidad_id')"
                        :items="localidades"
                        :loading="fetchinLocalidades"
                        data-vv-name="draft.localidad_id"
                        item-text="descripcion"
                        item-value="localidad_id"
                        label="Localidad"
                        v-model="draft.localidad_id"
                        v-validate="'required'"
        ></v-autocomplete>
        <v-combobox :error-messages="errors.collect('draft.colonia')"
                    :items="colonias"
                    :return-object="false"
                    data-vv-name="draft.colonia"
                    item-text="colonia"
                    item-value="colonia"
                    label="Colonia"
                    v-model="draft.colonia"
                    v-validate="'required'"
        ></v-combobox>
        <v-text-field :error-messages="errors.collect('draft.calle')"
                      data-vv-name="draft.calle"
                      label="Calle"
                      type="text"
                      v-model="draft.calle"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.numero')"
                      data-vv-name="draft.numero"
                      label="Número"
                      type="text"
                      v-model="draft.numero"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field label="Cruzamiento 1"
                      type="text"
                      v-model="draft.cruzamiento_1"
        ></v-text-field>
        <v-text-field label="Cruzamiento 2"
                      type="text"
                      v-model="draft.cruzamiento_2"
        ></v-text-field>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import CatalogoService from '../services/CatalogoService'
    import EventBus from '../event-bus'

    export default {
        name: 'DomicilioForm',
        inject: ['$validator'],
        components: {},
        props: {
            populateWith: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                draft: {
                    codigo_postal_id: null,
                    entidad_id: null,
                    municipio_id: null,
                    localidad_id: null,
                    colonia: null,
                    calle: null,
                    numero: null,
                    cruzamiento_1: null,
                    cruzamiento_2: null,
                },
                defaultItem: {
                    codigo_postal_id: null,
                    entidad_id: null,
                    municipio_id: null,
                    localidad_id: null,
                    colonia: null,
                    calle: null,
                    numero: null,
                    cruzamiento_1: null,
                    cruzamiento_2: null,
                },
                geo: {empty: true},
                colonias: [],
                municipios: [],
                localidades: [],
                fetchingMunicipios: false,
                fetchinLocalidades: false,
                fetchingColonias: false
            }
        },
        created() {
            if (!this.populateWith.empty) {
                this.draft = clone(this.populateWith)
            }
        },
        methods: {
            resetGeo() {
                this.geo.empty = true
                this.draft.entidad_id = this.draft.municipio_id = this.draft.localidad_id = this.draft.colonia = null
            },
            async cargarColonias() {
                if (this.hasCodigoPostal) {
                    try {
                        this.fetchingColonias = true
                        this.resetGeo()

                        let result = await CatalogoService.coloniasShow(this.draft.codigo_postal_id)

                        this.geo = result.data.geo
                        this.colonias = result.data.colonias
                        if (!this.populateWith.empty) {
                            this.draft.colonia = this.populateWith.colonia
                        }
                    } catch (e) {
                        showErrorMsg()
                        console.log(e)
                    } finally {
                        this.fetchingColonias = false
                    }
                }
            },
            async getMunicipios() {
                try {
                    let result = await CatalogoService.municipiosIndex(this.draft.entidad_id)

                    this.municipios = result.data.municipios

                    if (!this.geoIsEmpty) {
                        this.draft.municipio_id = this.geo.municipio_id
                    }
                } catch (e) {
                } finally {
                    this.fetchingMunicipios = false
                }
            },
            async getLocalidades() {
                try {
                    let result = await CatalogoService.localidesIndex({
                        entidad_id: this.draft.entidad_id,
                        municipio_id: this.draft.municipio_id,
                    })

                    this.localidades = result.data.localidades

                    if (!this.geoIsEmpty) {
                        this.draft.localidad_id = this.geo.localidad_id
                    }

                    if (!this.populateWith.empty) {
                        this.draft.localidad_id = this.populateWith.localidad_id
                    }
                } catch (e) {
                } finally {
                    this.fetchinLocalidades = false
                }
            }
        },
        computed: {
            ...mapState({
                entidades: state => state.catalogos.entidades,
            }),
            hasCodigoPostal() {
                return this.draft.codigo_postal_id;
            },
        },
        watch: {
            draft: {
                handler(val) {
                    EventBus.$emit('UPDATE_DOMICILIO_DRAFT', this.draft)
                },
                immediate: true,
                deep: true
            },
            geoIsEmpty() {
                return this.geo.empty
            },
            geo(val) {
                if (!val.empty) {
                    this.draft.entidad_id = this.geo.entidad_id
                }
            },
            'draft.codigo_postal_id': {
                handler(val) {
                    if (val) {
                        if (val.length === 5) {
                            this.cargarColonias()
                        }
                    }
                }
            },
            'draft.entidad_id': {
                handler(val) {
                    if (val !== null) {
                        this.fetchingMunicipios = true
                        this.getMunicipios()
                    }
                }
            },
            'draft.municipio_id': {
                handler(val) {
                    if (val !== null) {
                        this.fetchinLocalidades = true
                        this.getLocalidades()
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
