<template>
    <antecedentes-list :antecedentes="expedienteAntecedenteNoPato"
                       :deleting="deleting"
                       @delete="deleteAntecedente"
    ></antecedentes-list>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import AntecedentesList from './AntecedentesList'

    export default {
        name: 'AntecedentesNoPatoList',
        components: {AntecedentesList},
        props: {},
        data() {
            return {
                deleting: false
            }
        },
        methods: {
            async deleteAntecedente(payload) {
                try {
                    this.deleting = true
                    await this['expediente/destroyAntecedenteNoPato'](payload)
                    showSuccessMsg('El antecedente se eliminó correctamente')
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.deleting = false
                }
            },
            ...mapActions([
                'expediente/destroyAntecedenteNoPato'
            ])
        },
        computed: {
            ...mapState({
                expedienteAntecedenteNoPato: state => state.expediente.expediente.antecedentes_no_patologicos || [],
            })
        },
        watch: {}
    }
</script>

<style scoped>

</style>
