<template>
    <div>
        <div :key="item.id" v-for="item in antecedentes">
            <antecedentes-list-item :antecedente="item"
                                    :deleting="deleting"
                                    @delete="deleteAntecedente"
            />
            <v-divider></v-divider>
        </div>
    </div>
</template>

<script>
    import AntecedentesListItem from './AntecedentesListItem'

    export default {
        name: 'AntecedentesList',
        components: {AntecedentesListItem},
        props: {
            antecedentes: {
                type: Array,
                default: () => ([])
            },
            deleting: {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {}
        },
        methods: {
            deleteAntecedente(payload) {
                this.$emit('delete', payload)
            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
