<template>
    <v-layout class="py-4" wrap>
        <v-flex xs6><span class="font-weight-medium black--text">{{ antecedente.antecedente.descripcion }}</span></v-flex>
        <v-flex xs5><span class="font-weight-regular black--text">{{ antecedente.observaciones }}</span></v-flex>
        <v-flex xs1>
            <v-btn :disabled="deleting"
                   :loading="deleting"
                   @click="deleteAntecedente"
                   color="error darken-1"
                   depressed
                   fab
                   x-small
            >
                <v-icon>mdi-trash-can</v-icon>
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: 'AntecedentesListItem',
        components: {},
        props: {
            antecedente: {
                type: Object,
                required: true
            },
            deleting: {
                type: Boolean,
                required: true
            }
        },
        data() {
            return {
            }
        },
        methods: {
            async deleteAntecedente() {
                let payload = {
                    expediente: this.antecedente.expediente_id,
                    id: this.antecedente.id
                }

                this.$emit('delete', payload)
            },
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
