<template>
    <v-dialog scrollable v-model="addAntecedentesNoPato" width="600">
        <template v-slot:activator="{ on }">
            <v-btn absolute
                   color="accent"
                   dark
                   depressed
                   fab
                   right
                   small
                   top
                   v-on="on"
            >
                <v-icon>mdi-plus</v-icon>
            </v-btn>
        </template>
        <v-card :loading="saving">
            <v-card-title>
                <span class="title">Antecedentes no patológicos</span>
                <v-spacer></v-spacer>
                <span class="body-1" v-if="saving">Guardando...</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text class="pt-5">
                <v-layout :key="item.id" row v-for="item in antecedentes">
                    <v-flex xs12>
                        <form-antecedente :antecedente="item"
                                          :expediente-antecedentes="antecedentesNoPato"
                                          @save="submit"
                        ></form-antecedente>
                    </v-flex>
                </v-layout>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import EventBus from '../../event-bus'
    import FormAntecedente from './FormAntecedente'

    export default {
        name: 'AntecedentesNoPatoDialog',
        components: {FormAntecedente},
        props: {},
        data() {
            return {
                addAntecedentesNoPato: false,
                saving: false
            }
        },
        created() {
            EventBus.$on('SAVING_ANTECEDENTE', () => {
                this.saving = !this.saving
            })
        },
        methods: {
            async submit(draft) {
                try {
                    this.saving = true
                    await this['expediente/antecedentesNoPatoStore'](draft)
                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.saving = false
                }
            },
            ...mapActions([
                'expediente/antecedentesNoPatoStore'
            ])
        },
        computed: {
            ...mapState({
                antecedentes: state => state.catalogos.antecedentesNoPato,
                expediente: state => state.expediente.expediente
            }),
            antecedentesNoPato() {
                return this.expediente.antecedentes_no_patologicos
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
