<template>
    <v-card>
        <v-card-title>
            Contactos de emergencia
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pa-0" style="position: relative">
            <v-dialog v-model="dialog" width="600">
                <template v-slot:activator="{ on }">
                    <v-btn absolute
                           color="pink"
                           dark
                           depressed
                           fab
                           right
                           small
                           top
                           v-on="on"
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        Agregar contacto
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text class="pt-5">
                        <contactos-emergencia-form @save="save"></contactos-emergencia-form>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </v-card-text>
        <v-card-text class="" v-if="!fetchingExpediente">
            <contactos-emergencia-list></contactos-emergencia-list>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import ContactosEmergenciaList from './ContactosEmergenciaList'
    import ContactosEmergenciaForm from './ContactosEmergenciaForm'
    import EventBus from '../../event-bus'

    export default {
        name: 'ContactosEmergenciaCard',
        components: {ContactosEmergenciaForm, ContactosEmergenciaList},
        props: {},
        data() {
            return {
                dialog: false,
                contactosDraft: [],
                saving: false,
            }
        },
        created() {
            this.contactosDraft = [...this.contactos]
        },
        methods: {
            async save(draft) {
                try {
                    this.saving = true
                    this.contactosDraft.push(draft)
                    await this['expediente/updateContactosEmergencia']({paciente: this.paciente.id, contactos: this.contactosDraft})
                    EventBus.$emit('CLEAR_CONTACTOS_FORM')
                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.saving = false
                }
            },
            ...mapActions([
                'expediente/updateContactosEmergencia'
            ])
        },
        computed: {
            ...mapState({
                fetchingExpediente: state => state.expediente.fetchingExpediente,
                contactos: state => state.expediente.expediente.paciente.contactos_emergencia,
                paciente: state => state.expediente.expediente.paciente
            })
        },
        watch: {
            contactos() {
                this.contactosDraft = [...this.contactos]
            }
        }
    }
</script>

<style scoped>

</style>
