<template>
    <tr>
        <td>{{ contacto.nombre }}</td>
        <td>{{ contacto.parentesco }}</td>
        <td>{{ contacto.contacto }}</td>
        <td>
            <v-btn :disabled="deleting" :loading="deleting" @click="deleteContacto" color="error darken-1" depressed fab x-small>
                <v-icon>mdi-trash-can-outline</v-icon>
            </v-btn>
        </td>
    </tr>
</template>

<script>
    import EventBus from '../../event-bus'

    export default {
        name: 'ContactoEmergenciaListItem',
        components: {},
        props: {
            contacto: {
                type: Object,
                required: true
            },
            index: {
                type: Number,
                required: true
            }
        },
        data() {
            return {
                deleting: false
            }
        },
        created() {
            EventBus.$on('DELETING_CONTACTO', () => {
                this.deleting = false
            })
        },
        methods: {
            deleteContacto() {
                this.deleting = true
                this.$emit('delete', this.index)
            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
