<template>
    <div>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                    <tr>
                        <th class="text-left">Nombre</th>
                        <th class="text-left">Parentesco</th>
                        <th class="text-left">Contacto</th>
                        <th class="text-left">Eliminar</th>
                    </tr>
                </thead>
                <tbody v-if="contactos">
                    <contacto-emergencia-list-item :contacto="contacto"
                                                   :index="index"
                                                   :key="contacto.numero"
                                                   @delete="deleteContacto"
                                                   v-for="(contacto, index) in contactos"
                    ></contacto-emergencia-list-item>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'
    import ContactoEmergenciaListItem from './ContactoEmergenciaListItem'
    import EventBus from '../../event-bus'

    export default {
        name: 'ContactosEmergenciaList',
        components: {ContactoEmergenciaListItem},
        props: {},
        data() {
            return {
                contactosDraft: [],
            }
        },
        created() {
            this.contactosDraft = [...this.contactos]
        },
        methods: {
            async deleteContacto(index) {
                try {
                    Vue.delete(this.contactosDraft, index)
                    await this['expediente/updateContactosEmergencia']({paciente: this.paciente.id, contactos: this.contactosDraft})
                    EventBus.$emit('DELETING_CONTACTO')
                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {

                }
            },
            ...mapActions([
                'expediente/updateContactosEmergencia'
            ])
        },
        computed: {
            ...mapState({
                fetchingExpediente: state => state.expediente.fetchingExpediente,
                contactos: state => state.expediente.expediente.paciente.contactos_emergencia,
                paciente: state => state.expediente.expediente.paciente
            })
        },
        watch: {
            contactos() {
                this.contactosDraft = [...this.contactos]
            }
        }
    }
</script>

<style scoped>

</style>
