<template>
    <form action="">
        <v-text-field :error-messages="errors.collect('draft.nombre')"
                      data-vv-name="draft.nombre"
                      label="Nombre"
                      type="text"
                      v-model="draft.nombre"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.parentesco')"
                      data-vv-name="draft.parentesco"
                      label="Parentesco"
                      type="text"
                      v-model="draft.parentesco"
                      v-validate="'required'"
        ></v-text-field>
        <v-text-field :error-messages="errors.collect('draft.contacto')"
                      data-vv-name="draft.contacto"
                      label="Teléfono"
                      type="number"
                      v-model="draft.contacto"
                      v-validate="'required'"
        ></v-text-field>
        <v-btn :loading="saving"
               :disabled="saving"
               @click="save"
               block
               class="mt-5"
               color="primary"
               depressed
        >
            Guardar
        </v-btn>
    </form>
</template>

<script>
    import EventBus from '../../event-bus'

    export default {
        name: 'ContactosEmergenciaForm',
        components: {},
        props: {},
        data() {
            return {
                draft: {
                    nombre: '',
                    parentesco: '',
                    contacto: ''
                },
                defaultItem: {
                    nombre: '',
                    parentesco: '',
                    contacto: ''
                },
                saving: false
            }
        },
        created() {
            EventBus.$on('CLEAR_CONTACTOS_FORM', () => {
                this.draft = Object.assign({}, this.defaultItem)
                this.saving = false
                this.$validator.reset()
            })
        },
        methods: {
            async save() {
                let isValid = await this.$validator.validateAll()

                if (isValid) {
                    this.saving = true
                    this.$emit('save', this.draft)
                }
            }
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
