<template>
    <v-card :loading="updating">
        <v-card-title>
            Editar paciente
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="pa-5">
            <paciente-form :call-is-from-exp="true" :populate-with="draft" @submit="save"></paciente-form>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapActions} from 'vuex'
    import EventBus from '../../event-bus'
    import PacienteForm from '../pacientes/PacienteForm'

    export default {
        name: 'EditPacienteCard',
        components: {PacienteForm},
        props: {
            paciente: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        created() {
            let paciente = clone(this.paciente)
            this.draft.name = paciente.user.name;
            this.draft.last_name = paciente.user.last_name;
            this.draft.email = paciente.user.email;
            this.draft.phone = paciente.user.phone;
            this.draft.user_id = paciente.user.user_id;
            this.draft.fecha_nacimiento = paciente.fecha_nacimiento;
            this.draft.sexo = paciente.sexo;
            this.draft.estado_civil = paciente.estado_civil;
            this.draft.escolaridad = paciente.escolaridad;
            this.draft.domicilio = paciente.domicilio;
            this.draft.lugar_origen = paciente.lugar_origen;
            this.draft.ocupacion = paciente.ocupacion;
        },
        data() {
            return {
                draft: {},
                updating: false,
            }
        },
        methods: {
            async save(draft) {
                let payload = {
                    paciente: this.paciente.id,
                    draft
                }
                try {
                    this.updating = true
                    await this['expediente/updatePaciente'](payload)
                    EventBus.$emit('CLOSE_DIALOG')
                    showSuccessMsg('La información del paciente se actualizó correctamente')
                } catch (e) {
                    console.log(e)
                    showErrorMsg();
                } finally {
                    this.updating = false
                }
            },
            ...mapActions([
                'expediente/updatePaciente'
            ])
        },
        computed: {},
        watch: {}
    }
</script>

<style scoped>

</style>
