<template>
    <v-textarea :error-messages="errors.collect('draft')"
                :label="antecedente.descripcion"
                @blur="submit"
                auto-grow
                data-vv-name="draft"
                outlined
                rows="1"
                v-model="draft"
                v-validate="'required'"
    ></v-textarea>
</template>

<script>
    import {mapState} from 'vuex'

    export default {
        name: 'FormAntecedente',
        components: {},
        props: {
            antecedente: {
                type: Object,
                required: true
            },
            expedienteAntecedentes: {
                type: Array,
                default: () => ([])
            }
        },
        data() {
            return {
                draft: '',
                observacion: ''
            }
        },
        created() {
            this.findAntecedente()
        },
        methods: {
            save: _.debounce(function () {
                this.submit()
            }, 750),
            async submit() {
                let isValid = await this.$validator.validateAll()

                if (isValid) {
                    if (this.draft !== this.observacion) {
                        this.$emit('save', {
                            expedienteId: this.expediente.id,
                            draft: this.draft,
                            antecedenteId: this.antecedente.id
                        })
                    }
                } else {
                    this.draft = this.observacion
                }
            },
            findAntecedente() {
                let antecedente = this.expedienteAntecedentes.find((el) => {
                    return el.antecedente_id === this.antecedente.id
                })

                if (antecedente) {
                    this.draft = this.observacion = antecedente.observaciones
                }
            }
        },
        computed: {
            ...mapState({
                expediente: state => state.expediente.expediente
            }),
        },
        watch: {
            draft(val) {
                if (val) {
                    this.save();
                }
            },
            expedienteAntecedentes(val) {
                this.findAntecedente()
            }
        }
    }
</script>

<style scoped>

</style>
