<template>
    <v-card :loading="updating">
        <v-card-text>
            <form @submit.prevent="save">
                <v-layout class="align-center" wrap>
                    <v-flex xs10>
                        <v-text-field class="mt-0 pt-0"
                                      hide-details
                                      label="Habitaciones"
                                      type="number"
                                      v-model="habitaciones"
                        ></v-text-field>
                    </v-flex>
                    <v-flex class="text-center" xs2>
                        <v-btn @click="save"
                               color="primary"
                               depressed
                               fab
                               x-small
                        >
                            <v-icon small>mdi-content-save</v-icon>
                        </v-btn>
                    </v-flex>
                </v-layout>
            </form>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapState} from 'vuex'
    import ExpedienteService from '../../services/ExpedienteService'

    export default {
        name: 'HigieneCard',
        components: {},
        props: {},
        data() {
            return {
                habitaciones: null,
                updating: false,
            }
        },
        methods: {
            async save() {
                try {
                    this.updating = true
                    await ExpedienteService.updateHabitacion({expediente: this.$route.params.id, habitaciones: this.habitaciones})
                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.updating = false
                }
            }
        },
        computed: {
            ...mapState({
                expediente: state => state.expediente.expediente,
                fetchingExpediente: state => state.expediente.fetchingExpediente,
            })
        },
        watch: {
            fetchingExpediente(val) {
                if (!val) {
                    this.habitaciones = this.expediente.habitaciones
                }
            },
        }
    }
</script>

<style scoped>

</style>
