<template>
    <v-card :loading="updating">
        <v-card-text>
            <v-radio-group class="mt-0"
                           hide-details
                           label="Higiene:"
                           row
                           v-model="higiene"
            >
                <v-radio label="Buena" value="B"></v-radio>
                <v-radio label="Regular" value="R"></v-radio>
                <v-radio label="Mala" value="M"></v-radio>
            </v-radio-group>
        </v-card-text>
    </v-card>
</template>

<script>
    import {mapState} from 'vuex'
    import ExpedienteService from '../../services/ExpedienteService'

    export default {
        name: 'HigieneCard',
        components: {},
        props: {},
        data() {
            return {
                higiene: null,
                updating: false,
            }
        },
        methods: {
            async save() {
                try {
                    this.updating = true
                    await ExpedienteService.updateHigiene({expediente: this.$route.params.id, higiene: this.higiene})
                    showSuccessMsg()
                } catch (e) {
                    console.log(e)
                    showErrorMsg()
                } finally {
                    this.updating = false
                }
            }
        },
        computed: {
            ...mapState({
                expediente: state => state.expediente.expediente,
                fetchingExpediente: state => state.expediente.fetchingExpediente,
            })
        },
        watch: {
            fetchingExpediente(val) {
                if (!val) {
                    this.higiene = this.expediente.higiene
                }
            },
            higiene(val) {
                if (val) {
                    if (val !== this.expediente.higiene) {
                        this.save()
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>
