<template>
    <v-card shaped>
        <v-card-title class="">
            {{ paciente.user.full_name}}
        </v-card-title>
        <v-card-subtitle>
            {{ paciente.fecha_nacimiento | formatDateMonthName}} - {{ paciente.fecha_nacimiento|dateAge }} AÑOS - {{ paciente.sexo|gender }}
        </v-card-subtitle>
        <v-card-text class="px-0" style="position: relative">
            <v-divider></v-divider>
            <v-dialog scrollable v-model="dialog" width="600">
                <template v-slot:activator="{ on }">
                    <v-btn absolute
                           color="pink"
                           dark
                           depressed
                           fab
                           right
                           small
                           top
                           v-on="on"
                    >
                        <v-icon small>mdi-pencil</v-icon>
                    </v-btn>
                </template>
                <edit-paciente-card :paciente="paciente"></edit-paciente-card>
            </v-dialog>
            <v-list two-line>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-icon class="indigo lighten-1 white--text">mdi-email</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title v-text="paciente.user.email"></v-list-item-title>
                        <v-list-item-subtitle v-text="'Correo electrónico'"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-icon class="indigo lighten-1 white--text">mdi-phone</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title v-text="paciente.user.phone"></v-list-item-title>
                        <v-list-item-subtitle v-text="'Teléfono'"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-avatar>
                        <v-icon class="indigo lighten-1 white--text">mdi-map-marker</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title style="white-space: normal!important;" v-text="domicilioTexto"></v-list-item-title>
                        <v-list-item-subtitle v-text="'Domicilio'"></v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-card-text>
    </v-card>
</template>

<script>
    import EventBus from '../../event-bus'
    import EditPacienteCard from './EditPacienteCard'

    export default {
        name: 'PacienteCard',
        components: {EditPacienteCard},
        props: {
            paciente: {
                type: Object,
                default: () => ({empty: true})
            }
        },
        data() {
            return {
                dialog: false
            }
        },
        created() {
            EventBus.$on('CLOSE_DIALOG', () => {
                this.dialog = false
            })
        },
        methods: {},
        computed: {
            domicilio() {
                return this.paciente.domicilio
            },
            domicilioTexto() {
                let localidad = this.domicilio.localidad
                return `${this.domicilio.calle} #${this.domicilio.numero} ${localidad.descripcion}`.toUpperCase()
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
