<template>
    <v-skeleton-loader
        :loading="fetchingExpediente"
        style="width: 100%"
        transition="expand-transition"
        type="card"
    >
        <v-card>
            <v-card-text>
                <form action="">
                    <v-textarea :error-messages="errors.collect('draft.padecimiento_actual')"
                                auto-grow
                                clearable
                                data-vv-name="draft.padecimiento_actual"
                                label="Padecimiento actual"
                                rows="1"
                                v-model="draft.padecimiento_actual"
                                v-validate="'required'"
                    ></v-textarea>
                    <v-text-field label="Dx envío"
                                  type="text"
                                  v-model="draft.dx_envio"
                    ></v-text-field>
                    <v-text-field label="Médico tratante"
                                  type="text"
                                  v-model="draft.medico_tratante"
                    ></v-text-field>
                </form>
            </v-card-text>
            <v-card-actions>
                <v-btn :disabled="updating" :loading="updating"
                       @click="save"
                       block
                       color="primary"
                       depressed>Guardar
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-skeleton-loader>
</template>

<script>
    import {mapState} from 'vuex'
    import ExpedienteService from '../../services/ExpedienteService'

    export default {
        name: 'PadecimientoActualForm',
        components: {},
        props: {},
        data() {
            return {
                draft: {
                    padecimiento_actual: '',
                    dx_envio: '',
                    medico_tratante: '',
                },
                updating: false
            }
        },
        created() {
        },
        methods: {
            async save() {
                try {
                    this.updating = true
                    await ExpedienteService.updatePadecimientosActuales({expediente: this.$route.params.id, draft: this.draft})
                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.updating = false
                }
            }
        },
        computed: {
            ...mapState({
                expediente: state => state.expediente.expediente,
                fetchingExpediente: state => state.expediente.fetchingExpediente,
            })
        },
        watch: {
            fetchingExpediente(val) {
                if (!val) {
                    this.draft.padecimiento_actual = this.expediente.padecimiento_actual
                    this.draft.dx_envio = this.expediente.dx_envio
                    this.draft.medico_tratante = this.expediente.medico_tratante
                }
            }
        }
    }
</script>

<style scoped>

</style>
