<template>
    <div>
        <v-combobox :items="serviciosMedicos"
                    :loading="saving"
                    :return-object="false"
                    @change="updateServicioMedico"
                    label="Servicio médico"
                    v-model="servicio_medico"
                    hint="Para ingresar un nuevo elemento en la lista, agréguelo y presione enter"
                    persistent-hint
        ></v-combobox>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        name: 'ServicioMedicoForm',
        components: {},
        props: {},
        data() {
            return {
                servicio_medico: '',
                saving: false
            }
        },
        methods: {
            async updateServicioMedico() {
                try {
                    this.saving = true
                    let result = await this['expediente/updateServicioMedico']({paciente: this.paciente, servicio_medico: this.servicio_medico})

                    if (result.data.servicios.length > 0) {
                        this.$store.commit('catalogos/SET_SERVICIOS_MEDICOS', result.data.servicios)
                        this.servicio_medico = this.servicio_medico.toUpperCase()
                    }

                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.saving = false
                }
            },
            ...mapActions([
                'expediente/updateServicioMedico'
            ])
        },
        computed: {
            ...mapState({
                serviciosMedicos: state => state.catalogos.serviciosMedicos,
                paciente: state => state.expediente.expediente.paciente.id,
                fetchingExpediente: state => state.expediente.fetchingExpediente,
                servicioMedico: state => state.expediente.expediente.paciente.servicio_medico,
            })
        },
        watch: {
            fetchingExpediente(val) {
                if (!val) {
                    this.servicio_medico = this.servicioMedico
                }
            },
        }
    }
</script>

<style scoped>

</style>
