<template>
    <v-card :loading="loading">
        <v-card-title>Signos vitales</v-card-title>
        <v-card-subtitle>{{ `Última consulta: ${fechaSignos}` }}</v-card-subtitle>
        <v-divider></v-divider>
        <v-card-text>
            <v-text-field :error-messages="errors.collect('signosVitales.talla')"
                          data-vv-name="signosVitales.talla"
                          label="Altura mts"
                          reverse
                          type="text"
                          v-model="signosVitales.talla"
                          v-validate="'required'"
                          readonly
            >
                <template v-slot:append>
                    <v-icon color="primary">mdi-human-male-height</v-icon>
                </template>
            </v-text-field>
            <v-text-field :error-messages="errors.collect('signosVitales.peso')"
                          data-vv-name="signosVitales.peso"
                          label="Peso"
                          reverse
                          type="text"
                          v-model="signosVitales.peso"
                          v-validate="'required'"
                          readonly
            >
                <template v-slot:append>
                    <v-icon color="info">mdi-weight-kilogram</v-icon>
                </template>
            </v-text-field>
            <v-text-field :error-messages="errors.collect('signosVitales.temperatura')"
                          data-vv-name="signosVitales.temperatura"
                          label="Temperatura"
                          reverse
                          type="text"
                          v-model="signosVitales.temperatura"
                          v-validate="'required'"
                          readonly
            >
                <template v-slot:append>
                    <v-icon color="green">mdi-thermometer</v-icon>
                </template>
            </v-text-field>
            <v-text-field :error-messages="errors.collect('signosVitales.frecuencia_respiratoria')"
                          data-vv-name="signosVitales.frecuencia_respiratoria"
                          label="Frecuencia respiratoria"
                          reverse
                          type="text"
                          v-model="signosVitales.frecuencia_respiratoria"
                          v-validate="'required'"
                          readonly
            >
                <template v-slot:append>
                    <v-icon color="green">mdi-clipboard-pulse</v-icon>
                </template>
            </v-text-field>
            <v-text-field :error-messages="errors.collect('signosVitales.frecuencia_cardiaca')"
                          data-vv-name="signosVitales.frecuencia_cardiaca"
                          label="Frecuencia cardiaca"
                          reverse
                          type="text"
                          v-model="signosVitales.frecuencia_cardiaca"
                          v-validate="'required'"
                          readonly
            >
                <template v-slot:append>
                    <v-icon color="red">mdi-heart-pulse</v-icon>
                </template>
            </v-text-field>
        </v-card-text>
    </v-card>
</template>

<script>
    import ExpedienteService from '../../services/ExpedienteService'
    import moment from 'moment'

    export default {
        name: 'SignosVitalesCard',
        components: {},
        props: {},
        async created() {
            try {
                this.loading = true
                let result = await ExpedienteService.showUltimaConsulta(this.$route.params.id)
                this.signosVitales = result.data.consulta
            } catch (e) {
                console.log(e)
            } finally {
                this.loading = false
            }
        },
        data() {
            return {
                loading: false,
                signosVitales: {
                    talla: 0,
                    frecuencia_cardiaca: 0,
                    frecuencia_respiratoria: 0,
                    temperatura: 0,
                    peso: 0,
                    cintura: 0,
                    fecha: null
                },
            }
        },
        methods: {},
        computed: {
            fechaSignos() {
                if (this.signosVitales.fecha === null) {
                    return 'Sin registros'
                } else {
                    return moment(String(this.signosVitales.fecha)).format('DD/MM/YYYY hh:mm a')
                }
            }
        },
        watch: {}
    }
</script>

<style scoped>

</style>
