<template>
    <div>
        <v-select :items="tiposSangre"
                  :loading="saving"
                  @change="updateTipo"
                  hide-details
                  label="Tipo de sangre"
                  v-model="tipo"
        ></v-select>
    </div>
</template>

<script>
    import {mapActions, mapState} from 'vuex'

    export default {
        name: 'TipoSangreForm',
        components: {},
        props: {},
        data() {
            return {
                tipo: '',
                saving: false
            }
        },
        methods: {
            async updateTipo() {
                try {
                    this.saving = true
                    await this['expediente/updateTipoSangre']({paciente: this.paciente, tipo_sangre: this.tipo})
                    showSuccessMsg()
                } catch (e) {
                    showErrorMsg()
                    console.log(e)
                } finally {
                    this.saving = false
                }
            },
            ...mapActions([
                'expediente/updateTipoSangre'
            ])
        },
        computed: {
            ...mapState({
                tiposSangre: state => state.catalogos.tiposSangre,
                paciente: state => state.expediente.expediente.paciente.id,
                tipoSangre: state => state.expediente.expediente.paciente.tipo_sangre,
                fetchingExpediente: state => state.expediente.fetchingExpediente
            })
        },
        watch: {
            fetchingExpediente(val) {
                if (!val) {
                    this.tipo = this.tipoSangre
                }
            },
        }
    }
</script>

<style scoped>

</style>
